.logo {
    text-align: right;
    width: 600px;
    height: 500px;
    margin: auto;
    background-image: url(../img/sinFondo.png);
    background-repeat: no-repeat;
}

.logo img {
    width: 100%;
    height: 80%;

}

.letraLogo {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    margin-top: 50px;
    margin-right: 50px;
    color: white;
    display: inline-block;

}

.botonregistro {
    cursor: pointer;
    width: 200px;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    background: #ff0a54;
    color: #fae0e4;
    box-shadow: 0 9px 14px rgba(255, 254, 254, 0.3);
}

.botoniniciosesion {
    cursor: pointer;
    width: 200px;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    background: #680da4;
    color: #fae0e4;
    box-shadow: 0 9px 14px rgba(255, 254, 254, 0.3);
}

.divBotones {
    width: 600px;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
