#root{
    width: 100%;
    height: 100vh;
    background-color: var(--fondo_de_pagina);
}

.divPadre2{
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%), url(../img/sinFondo.png);
      background-attachment: fixed;
      background-position: center;
}

.mensajeBienvenida2 h2{
  height: 30%;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #ff0a54;
    /*-webkit-text-stroke: 1px var(--color_borde_bienvenida);*/
    text-shadow: var(--sombra_texto_bienvenida);
    /*animation-name: moverTitulo;*/
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes moverTitulo{
    0%{
        transform: scale(0.9)
    }
    100%{
        transform: scale(1.1)
    }
}


.formulariologin{
    background: rgba(0, 0, 0, 0.5);
      margin-top: 60px;
      padding: 15px 0px;
      align-items: center;
      width: 350px;
      height: 400px;
      border-radius: 10px;
      text-align: center;
      overflow: hidden;
}
.formulariologin h1{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.grupos2{
    width: 100%;
      display: flex;
      flex-direction: column;
      margin: 15px 10px;
      padding: 20px;
      overflow: hidden;

}
.email_login {
  width: 300px;
  height: 40px;
  padding: 10px;
}
.pass_login{
  width: 300px;
  height: 40px;
  padding: 10px;
}
.label_email {
  width: 280px;
  text-align: left;
  margin-bottom: 5px;
  color: white;
}

.caja_ojito2 {
  display: flex;
}

.label_pass {
  width: 85%;
  text-align: left;
  margin-bottom: 5px;
  color: white;
}

.ojito_login {
  width: 15%;
  height: 39px;
  right: 0;
  background: white;
  font-size: 20px;
}

.botonRegreso2{
  display: inline-block;
    top: 0;
    left: 0;
    position: fixed;
}

.btn_fotm_login{
  padding: 5px;
    cursor: pointer;
    width: 300px;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    background: var(--color_oscuro_boton_formulario);
    color: var(--color_claro_boton_formulario);
    box-shadow: var(--sombra_boton);
    text-transform: uppercase;
    margin-top: 0px;
  }
  
  .btn_fotm_login:active {
    background-color: var(--color_oscuro_boton_formulario);
      box-shadow: var(--sombra_boton_active);
      transform: translateY(4px);
  }
  
  .btn_fotm_login:hover {
    color: #0e0f0e;
      background-color: var(--color_boton_form_hover);
  }

  .btn_home_registro2{
    padding: 2px;
      cursor: pointer;
      width: 50px;
      height: 45px;
      font-size: 40px;
      border: none;
      border-radius: 10px;
      background: transparent;
      color: #fae0e4;
  }
  
  .btn_home_registro2:active {
      background-color: transparent;
      transform: translateY(4px);
  }
  
  .btn_home_registro2:hover {
      color: var(--color_boton_claro_regreso_hover);
      background-color: var(--color_boton_oscuro_regreso_hover);
      box-shadow: var(--sombra_boton);
  }

    ::-webkit-input-placeholder {
        color: rgb(216, 11, 11);
        font-size: 15px;
  }
  
@media (min-width: 600px) and (max-width: 767px){
.formularioLogin{
  background: red;
  width: 100%;
  height: 450px;
  margin: auto;
 }

.mensajeBienvenida2 {
  margin-bottom: 30px;
}
/*.ojito_registro{
  align-items: center;
  font-size: 22px;
  height: 30px;
  width: 40px;
  margin-right: 200px;
}*/
.grupos2{
  width: 100%;
}
.pass_login {
  width: 78%;
  height: 40px;
  padding: 10px;
}

.ojito_login{
  font-size: px;

}


}

    /*medida para PC*/
@media only screen and (min-width: 768px){
  .botonregistro {
      width: 350px;
      height: 60px;
      font-size: 20px;
  }

}
  