#root{
    width: 100%;
    height: 100vh;
    background-color: var(--fondo_de_pagina);
}

.divPadre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.mensajeBienvenida h2{
  margin-top: 25px;  
  font-weight: 900;
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 1px var(--color_borde_bienvenida);
  text-shadow: var(--sombra_texto_bienvenida);
     animation-name: moverTitulo;
     animation-duration: 10s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in-out;   
}
@keyframes moverTitulo{
    0%{
        transform: scale(0.9)
    }
    100%{
        transform: scale(1.1)
    }
}




.formularioRegistro{
    margin-top: 50px;
    padding: 15px 0px;
    align-items: center;
    width: 350px;
    height: 500px;
    border-radius:10px;
    text-align: center;
    box-shadow:var(--sombra_formulario_registro);
}
.formularioRegistro h1{
    color: white;
    font-weight: 700;
}
.grupos{
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
    padding: 20px;

}

.grupos input{
    width: 300px;
    padding: 5px;
}

.grupos label{
    width: 250px;
    text-align: left;
    margin-bottom: 5px;
    color: white;
}

/*.formularioRegistro button{
   width: 150px; 
   height: 40px;
   text-transform: uppercase;
}*/
.botonRegreso{
    margin-top: 40px;
}

.botonRegreso button{
   width: 150px;
   height: 40px;
}


.formularioRegistro button{
    cursor: pointer;
    width: 200px;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    background: var(--color_oscuro_boton_formulario);
    color: var(--color_claro_boton_formulario);
    box-shadow: var(--sombra_boton);
   
    margin-top: 0px;
  }
  
  .formularioRegistro button:active {
    background-color: var(--color_oscuro_boton_formulario);
    box-shadow: var(--sombra_boton_active);
    transform: translateY(4px);
  }
  
  .formularioRegistro button:hover {
    color: #0e0f0e;
    background-color: var(--color_boton_form_hover);
  }

  .botonRegreso button{
    cursor: pointer;
    width: 200px;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    background: var(--color_boton_oscuro_regreso);
    color: #fae0e4;
    box-shadow: var(--sombra_boton);
   
    margin-top: 0px;
  }
  
  .botonRegreso button:active {
    background-color: var(--color_boton_oscuro_regreso);
    box-shadow: var(--sombra_boton_active);
    transform: translateY(4px);
  }
  
  .botonRegreso button:hover {
    color: var(--color_boton_claro_regreso_hover);
    background-color: var(--color_boton_oscuro_regreso_hover);
  }