.divPadre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, rgba(0, 0, 0,  0.5) 0%, rgba(0, 0, 0, 0.7) 100%),url(../img/sinFondo.png);
    background-attachment: fixed;
    background-position: center;
   
}

.mensajeBienvenida h2{
  text-transform: uppercase;
  margin-top: 30px;  
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #ff0a54;
  /*-webkit-text-stroke: 1px var(--color_borde_bienvenida);*/
  text-shadow: var(--sombra_texto_bienvenida);
     /*animation-name: moverTitulo;*/
     animation-duration: 10s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in-out;   
}
@keyframes moverTitulo{
    0%{
        transform: scale(0.9)
    }
    100%{
        transform: scale(1.1)
    }
}




.formularioRegistro{
    background:rgba(0, 0, 0,  0.5) ;
    margin-top: 100px;
    padding: 15px 0px;
    align-items: center;
    width: 350px;
    height: 500px;
    border-radius:10px;
    text-align: center;
    
}
.formularioRegistro h1{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.grupos{
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
    padding: 20px;

}

.email_registro{
    width: 300px;
    height: 40px;
    padding: 10px;
    font-family: Arial, black;
   
    height: 40px;
}
.pass_registro{
    width: 300px;
    height: 40px;
    padding: 10px;
    font-family: Arial, black;
   
    height: 40px;
}

.grupos label{
    width: 250px;
    text-align: left;
    margin-bottom: 5px;
    color: white;
}


.botonRegreso{
  display: inline-block;
  top: 0;
  left: 0;  
  position: fixed; 
}


.btn_formulario_registro{
  padding: 5px;
    cursor: pointer;
    width: 300px;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    background: var(--color_oscuro_boton_formulario);
    color: var(--color_claro_boton_formulario);
    box-shadow: var(--sombra_boton);
    text-transform: uppercase;
    margin-top: 0px;
  }
  
  .btn_formulario_registro:active {
    background-color: var(--color_oscuro_boton_formulario);
    box-shadow: var(--sombra_boton_active);
    transform: translateY(4px);
  }
  
  .btn_formulario_registro:hover {
    color: #0e0f0e;
    background-color: var(--color_boton_form_hover);
  }

  .btn_home_registro{
    padding: 2px;
    cursor: pointer;
    width: 50px;
    height: 45px;
    font-size: 40px;
    border: none;
    border-radius: 10px;
    background: transparent;
    color: #fae0e4;
    
      
  }

  .btn_home_registro:active {
    background-color: transparent;
    transform: translateY(4px);
  }
  
  .btn_home_registro:hover {
    color: var(--color_boton_claro_regreso_hover);
    background-color: var(--color_boton_oscuro_regreso_hover);
    box-shadow: var(--sombra_boton);
  }

  ::-webkit-input-placeholder {
    color: rgb(216, 11, 11);
}

.ojito2{
   width: 20px;
   height: 25px;
   background: white;
   display: inline-block;
   position: absolute;
   right: 0;
   margin-right: 56px;
   margin-top: 30px;
}