body {
  background-color: #e5efed;
}
#root{    
  width: 100%;
  height: 100vh;
}
.contenedorWall{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #1fd1b5;
  width: 100%;
  background-color:#e5efed;
}
.contenedorW{
  margin-top: 80px;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #1fd1b5;
  width: 100%;
  height: 100vh;
}
.contenedorImg{
  max-width: 80%;
  height: 100%;
}
.imgGirl{
  max-width: 90%;
  border-radius: 15px;
  border-radius: 40px;
}
.contenedorInput{
  width: 50px;
  max-width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
}
.inputPost {
  margin-bottom: 10px;
  width: 70%;
  height: 25vh;
  border-radius: 10px;
  border: 1px solid #1fd1b5;
  padding: 10px 5px 10px 45px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cargandoM{
  margin-top: 110px;
  margin-left: 450px;
}
.flores-adorno{
  width: 12%;
  position: absolute;
  bottom: 270px;
  left: 667px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}
.btnCerrarSesión {
  background-color: #ef6973;
  text-decoration: none;
  max-width: 35%;
  height: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #1fd1b5;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}
.btnCerrarSesión:hover {
  background-color: #1fd1b5;
  color: #ef6973;
}
.verPosts {
  background-color: #ef6973;
  text-decoration: none;
  max-width: 35%;
  height: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #1fd1b5;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5%;
}
.verPosts:hover {
  background-color: #1fd1b5;
   color:#ef6973;
}
.btnPublicar {
  background-color: #ef6973;
  text-decoration: none;
  width: 40%;
  height: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #1fd1b5;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 15%;
}
.btnPublicar:hover {
  background-color: #1fd1b5;
   color:#ef6973;
}
.imgCargando{
  width: 30%;
  height: 40%;
}
