@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/**------- INICIO CONFIGURACIÓN GENERAL PARA EMPEZAR ------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;/*Para quitar las letras subrayadas*/
}
/*------------- Lo utilizo para definir los colores ------*/
:root{
    --whiskey: #d19f6f;
    --wood-bark: #230704;
    --bull-shot: #834923;
    --redwood: #56260f;
    --cape-palliser: #946d47;
    --fiery-orange: #a44b12;
    --lunar-green: #39483f;
    --mine-shaft: #383334;
    --sand-dune: #856464;
    --white:#FFFFFF;
}

/**------- FIN CONFIGURACIÓN GENERAL PARA EMPEZAR ------*/


/**------- LOGIN Y WELCOME------*/

body {
    background: url(../src/lib/archivo_css/Imagenes/wallpaper.jpg) no-repeat;
    background-size: cover;
}

.hdiv, .divWelcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    margin-top: 40%;
}

.title {
    text-align: center;
    color: var(--white);
    font-size: 5vw;
}

.btnLogin {
    background-color: var(--cape-palliser);
    border-color: var(--white);
    border-style: solid;
    border-radius: 18px;
    padding: 10px 40px;
    font-size: 15px;
    width: 150px;
}

.btnGoogle, .btnRegister, .btnBack {
    background-color: var(--wood-bark);
    border-color: var(--white);
    border-style: solid;
    border-radius: 18px;
    padding: 10px 40px;
    font-size: 15px;
    color: var(--white);
    width: 150px;
}

.img-google {
    width: 35px;
    height: 35px;
}