@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@1,500&display=swap');
.contenedorLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frase2 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 800;
    color: white;
    margin-top: 225px;
    position: absolute;
    font-size: 45px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.correo {
    background: #E1DFDF;
    border-radius: 30px;
    height: 45px;
    width: 200px;
    align-self: center;
    position: absolute;
    margin-top: 50%;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.correo::placeholder {
    color: #958D8D;
    text-align: center;
}

.password {
    background: #E1DFDF;
    border-radius: 30px;
    height: 45px;
    width: 200px;
    align-self: center;
    position: absolute;
    margin-top: 60%;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.password::placeholder {
    color: #958D8D;
    text-align: center;
}

.botoniniciosesion {
    color: white;
    background: linear-gradient(180deg, rgba(177, 0, 53, 0.93) 0%, #0A0305 86.24%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 45px;
    width: 170px;
    align-self: center;
    position: absolute;
    margin-top: 70%;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: none;
}

.botoniniciosesion:active {
    background: linear-gradient(180deg, rgba(227, 56, 107, 0.93) 0%, #0A0305 86.24%);
}

.error {
    margin-top: 82%;
    font-family: 'Hanken Grotesk', sans-serif;
    position: absolute;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: italic;
    font-size: 18px;
}

.salida {
    color: white;
    background: linear-gradient(180deg, rgba(177, 0, 53, 0.93) 0%, #0A0305 86.24%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 45px;
    width: 200px;
    align-self: center;
    position: absolute;
    margin-top: 100%;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
}

.salida:active {
    background: linear-gradient(180deg, rgba(227, 56, 107, 0.93) 0%, #0A0305 86.24%);
}

.botongoogle {
    color: white;
    background: linear-gradient(180deg, rgba(177, 0, 53, 0.93) 0%, #0A0305 86.24%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 45px;
    width: 200px;
    align-self: center;
    position: absolute;
    margin-top: 90%;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
}

.botongoogle:active {
    background: linear-gradient(180deg, rgba(227, 56, 107, 0.93) 0%, #0A0305 86.24%);
}

.cuadroTransparente {
    position: absolute;
    width: 420px;
    height: 723px;
    left: 115px;
    top: 48px;
    background: rgba(0, 0, 0, 0.61);
    mix-blend-mode: normal;
    backdrop-filter: blur(2.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 25px;
    z-index: -1;
    align-items: center;
}

.fondoHome {
    background-size: cover;
    z-index: -2;
    max-width: 100%;
    height: auto;
}