@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
}

.logoHome {
    width: 80%;
    display: flex;
    margin-top: 5%;
}

.frase {
    font-family: 'Hanken Grotesk', sans-serif;
    color: white;
    font-weight: 500;
}

.frase2 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 35px;
    margin-top: 10%;
}

.frase3 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 600;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    margin-top: 8%;
}

.cuadroTransparente {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /*width: 80%;*/
    background: rgba(0, 0, 0, 0.61);
    mix-blend-mode: normal;
    backdrop-filter: blur(2.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 25px;
    z-index: -1;
    align-items: center;
    margin: 6%;
    height: 60vh;
    padding-bottom: 20%;
}

body {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    background-image: url(../src/Imagenes/Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.botonLogin {
    order: 2;
    color: white;
    background: linear-gradient(180deg, rgba(177, 0, 53, 0.93) 0%, #0A0305 86.24%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 45px;
    width: 170px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: none;
    margin-top: 8%;
}

.botonLogin:active {
    background: linear-gradient(180deg, rgba(227, 56, 107, 0.93) 0%, #0A0305 86.24%);
}

.botonRegistro {
    order: 3;
    color: white;
    background: linear-gradient(180deg, rgba(177, 0, 53, 0.93) 0%, #0A0305 86.24%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 45px;
    width: 170px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: none;
    margin-top: 6%;
}

.botonRegistro:active {
    background: linear-gradient(180deg, rgba(227, 56, 107, 0.93) 0%, #0A0305 86.24%);
}

.fondoHome {
    background-size: cover;
    justify-content: center;
    height: 100vh;
    background-position: center;
}

@media only screen and (min-width:722px) {
    .fondoHome {
        background-size: cover;
        z-index: -2;
        width: 100%;
        height: auto;
    }
}