/* .eliminar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
} */

#publicaciones {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.contenedorMuro {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /*width: 80%;*/
    background: rgba(0, 0, 0, 0.61);
    mix-blend-mode: normal;
    backdrop-filter: blur(2.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 25px;
    z-index: -1;
    align-items: center;
    margin: 6%;
    height: 80vh;
    padding-bottom: 20%;
}